@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap");
$grey: #eeeeee;
$background: #F6F6F6;
$dark-grey: #707070;
$orange: #fda42a;
$dark-turquise: #156879;
$light-blue: #489fb5;
$Heebo: "Heebo", sans-serif;


.map-container {
    position: relative;
    margin: 10;
}
