@import '../../consts/_consts.scss';

.popup-alert-full-window {
  //full window for background opacity
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: #747477bf;

  .popup-alert-container {
    //white background (the popup container)
    background-color: white;
    width: 90vw;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    min-height: 30vh;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 2.5vh 10vw;
    border-radius: 10px;

    #popup-text {
      color: black;
      font-size: 1.5rem;
    }

    .popup-buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      button {
        
        border-radius: 10px;
        width: fit-content;
        max-width: 210px;
        padding: 10px 10px;
        h4 {
          font-size: 1.2rem;
          height: 100%;
          margin: 0;
        }
      }
      .popup-okay {
        background-color: $turquoise;
        color: white;
        border: 1px solid $turquoise;
      }

      .popup-cancel {
        background-color: white;
        color: $turquoise;
        border: 1px solid $turquoise;
      }
    }
  }
}
