@import "../../consts/consts.scss";

.map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    #info-window-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Assistant', sans-serif !important;

        div {
            font-size: 0.8rem;
            text-align: right;
        }

        .info-window-header {
            color: $turquoise;
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 4%;
            text-align: right;
        }

        .pub-shofar-blower-name-container,
        .pub-address-container,
        .pub-start-time-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 4%;
            width: 100%;

            img {
                width: 1.2em;
                height: 1.2em;
                margin-left: 4%;
                align-self: flex-start;
                margin-top: 1%;
            }

            div {
                font-size: 1rem;
            }

            .pub-shofar-blower-name {
                font-weight: bold;
            }
        }

        .notes {
            margin-bottom: 4%;
        }

        .join-button {
            cursor: pointer;
            background-color: $orange;
            color: white;
            height: fit-content;
            width: fit-content;
            padding: 2% 2%;
            margin: 0 auto 0 0;
            font-size: 1rem;
            border-radius: 3px;
        }
    }

    #search-input-container {
        position: absolute !important;
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-top: 5%;
        top: 2%;
        left: 50%;
        transform: translate(-50%, -50%);

        #search-input {
            margin-top: 6%;
            box-sizing: border-box;
            border: 1px solid transparent;
            width: 20rem;
            height: 2.5rem;
            padding: 0px 12px 0 40px;
            border-radius: 3px;
            box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.3);
            font-size: 1rem;
            outline: none;
            text-overflow: ellipsis;
        }

        #search-icon {
            position: absolute;
            left: 7%;
            top: 67%;
            width: 1rem;
            transform: translate(-50%, -50%);
        }
    }

    .gm-style-iw.gm-style-iw-c {
        border-radius: 2px;
        padding: 12px !important;
    }

    button {
        top: 0 !important;
        left: 0 !important;
        width: fit-content !important;
        height: fit-content !important;

        img {
            width: 1.2rem !important;
            height: 1.2rem !important;
        }
    }

    .close-map,
    .close-map-mobile {
        position: fixed;
        transform: translate(-25%, 0);
        bottom: 10%;
        left: 50%;
        width: 2.5rem;
        height: 2.5rem;
    }

    .close-map-mobile {
        bottom: 15%;
    }

    // .close-map:hover {
    //     animation-name: hover;
    //     animation-duration: 0.5s;
    // }
    @keyframes hover {
        0% {
            bottom: 15%;
        }

        100% {
            bottom: 17%;
        }
    }
}

#mapNavContainer-in-shofar-blower-map {
    position: absolute;
    top: 12vh;
    right: unset;
    left: 5vw;
    display: flex;
    align-items: center;
    width: fit-content;
    z-index: 2;
    padding: 1.5vh 3vh;
    border-radius: 10px;
    background-color: white;
    backdrop-filter: none;
}
.mapNavContainer {
    position: absolute;
    top: 11vh;
    right: 5vw;
    display: flex;
    align-items: center;
    width: 90vw;
    padding: 1.5vh 3vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);

    .inputContainer {
        // background-color: #ffffffc4;
        margin-left: 35vw;
        
        input {
            padding: 1vh 0.5vw;
            border: #7070708e solid 0.5px;
        }

        .inputIcon {
            color: #7070708e;
        }
    }

    .mapIconContainer {
        margin: 0 1.5vh;
        padding: 0.5vh;
        border-radius: 50%;
        position: relative;

        img {
            width: 4.5vh;
            height: 4.5vh;
        }

        .textInHover {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            border-radius: 50%;
            top: 0.5vh;
            right: 0.5vh;
            width: 4.5vh;
            height: 4.5vh;
            font-size: 1.1vh;
            background-color: rgba(255, 255, 255, 0);
            color: rgba(255, 255, 255, 0) !important;
            transition: background-color 0.5s ease, color 0.5s ease;
        }
    }

    .mapIconContainer:hover {
        .textInHover {
            color: white !important;
            transition: background-color 0.5s ease, color 0.5s ease;
        }

        .blueBackground {
            background-color: #156879 !important;
        }
        
        .orangeBackground {
            background-color: #FDA42A !important;
        }
        
        .lightblueBackground {
            background-color: #82C0CC !important;
        }
    }

    .mapIconSelected {
        border: solid 1px;

    }
}