@import "../../consts/consts.scss";
.map-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    #info-window-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Assistant',sans-serif !important;
        div {
            font-size: 0.8rem;
            text-align: right;
        }
        .info-window-header {
            color: $turquoise;
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 4%;
            text-align: right;
        }
        .pub-shofar-blower-name-container,
        .pub-address-container,
        .pub-start-time-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 4%;
            width: 100%;
            img {
                width: 1.2em;
                height: 1.2em;
                margin-left: 4%;
                align-self: flex-start;
                margin-top: 1%;
            }
            div {
                font-size: 1rem;
            }
        }
        .notes {
            margin-bottom: 4%;
        }
        .join-button {
            cursor: pointer;
            background-color: $orange;
            color: white;
            height: fit-content;
            width: fit-content;
            padding: 2% 2%;
            margin: 0 auto 0 0;
            font-size: 1rem;
            border-radius: 3px;
        }
    }

    #search-input-container {
        position: fixed !important;
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-top: 5%;
        top: 2%;
        left: 50%;
        transform: translate(-50%, -50%);
        #search-input {
            margin-top: 6%;
            box-sizing: border-box;
            border: 1px solid transparent;
            width: 20rem;
            height: 2.5rem;
            padding: 0 12px;
            border-radius: 3px;
            box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.3);
            font-size: 1rem;
            outline: none;
            text-overflow: ellipsis;
        }
        #search-icon {
            position: absolute;
            left: 7%;
            top: 67%;
            width: 1rem;
            transform: translate(-50%, -50%);
        }
    }
    .gm-style-iw.gm-style-iw-c {
        border-radius: 2px;
    }

    button {
        top: 0 !important;
        left: 0 !important;
        width: fit-content !important;
        height: fit-content !important;
        img {
            width: 1.2rem !important;
            height: 1.2rem !important;
        }
    }
    .close-map,
    .close-map-mobile {
        position: fixed;
        transform: translate(-25%, 0);
        bottom: 10%;
        left: 50%;
        width: 2.5rem;
        height: 2.5rem;
    }
    .close-map-mobile{
        bottom: 15%;
    }
    // .close-map:hover {
    //     animation-name: hover;
    //     animation-duration: 0.5s;
    // }
    @keyframes hover {
        0% {
            bottom: 15%;
        }
        100% {
            bottom: 17%;
        }
    }
}
