@import "../consts/consts.scss";

.HomePage {
   background-image: url("/images/shoparForStart.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   min-height: fit-content;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   overflow: hidden;

   .bottomLine{

      display: flex;
      background-color: white;
      position: absolute;
      width: 100%;
      bottom: 0;
    
   }
   .contactUs{
      width: 26%;
      font-weight: bold
   }
   .regularLink{
      text-decoration: none;
       color: #0B3E46
   }
   .underlineLink{
         text-decoration: underline;
          color: #0B3E46
     
   }
   .coap-imgs-container {
      width:100%;
      height: 9%;
      position: relative;
      margin: 0 auto 2% auto;
      display: flex;
      background-color: #f8f9faa1;
      flex-direction: row-reverse;
      align-items: center;
 img{
    margin: 0 2% 0 2%
 }
   }
   .content-container {
      margin: 5% auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #shivuki-credit,
      #contact-us {
         margin-top: 1%;
         float: left;
         font-weight: bold;
         color: white;
         text-shadow: 1px 0.5px #f7f7f75e;
      }
   }
   #text1 {
      font-size: 4vh;
      margin-top: 1%;
      font-weight: bold;
   }
   .textTitle {
      color: #ffffff;
   }
   .coverImg {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
   }

   .imgText {
      width: 102%;
   }

   .browserButtonForRegister {
      margin-top: 3%;
      .browserRegisterIsolator {
         padding: 2% 3%;
         font-size: 3vh;
         font-weight: bold;
         background-color: #ffa62b;
         // margin: 0 2vw;
         color: white;
         border: none;
      }
      .browserRegisterBlower {
         margin: 0 2vw;
         padding: 2% 5%;
         color: white;
         border: none;
         font-size: 3vh;
         font-weight: bold;
         background-color: #489fb5;
      }
   }
   .mobileButtonForRegister {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;

      .mobileRegisterIsolator {
         background-color: #ffa62b;
         color: white;
         border: none;
         padding: 3% 5%;
         width: 17rem;
         font-size: 3vh;
         font-weight: bold;
         margin-top: 5%;
      }
      .mobileRegisterBlower {
         background-color: #489fb5;
         color: white;
         border: none;
         padding: 2.5%;
         width: 17rem;
         font-size: 3vh;
         font-weight: bold;
         // margin-top: 4%;
      }
   }
   .stuckHouse {
      white-space: pre-line;
      line-height: 1.2;
      margin-top: 3%;
      font-size: 85%;
   }
   #text2 {
      font-size: 131%;
      margin-top: 30%;
   }
}

@media only screen and (max-width: 1000px) {
   .HomePage {
      // .mobileButtonForRegister {
      //    margin-top: 5% !important;
      // }
      .img-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 2%;
         width: fit-content;
         height: fit-content;
         margin-left: auto;
         margin-right: auto;
      }
   }
}
