@import "../consts/consts.scss";

.HomePage {
   background-image: url("/images/shoparForStart.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   min-height: fit-content;
   overflow-y: auto;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 1% 2.5%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   &::-webkit-scrollbar {
      display: none;
   }

   .coap-imgs-container {
      position: relative;
      top: 2%;
      margin: 0 auto 2% auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      img {
         filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.363));
      }
   }

   .content-container {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #shivuki-credit {
         position: absolute;
         left: 2%;
         bottom: 2%;
      }
   }
   #text1 {
      font-size: 5vh;
      margin-top: 1%;
      font-weight: bold;
   }
   .textTitle {
      color: #ffffff;
   }
   .coverImg {
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      object-fit: cover;
   }

   .imgText {
      width: 102%;
   }

   .browserButtonForRegister {
      margin-top: 3%;
      .browserRegisterIsolator {
         padding: 2% 3%;
         font-size: 3vh;
         font-weight: bold;
         background-color: #ffa62b;
         // margin: 0 2vw;
         color: white;
         border: none;
      }
      .browserRegisterBlower {
         margin: 0 2vw;
         padding: 2% 6%;
         color: white;
         border: none;
         font-size: 3vh;
         font-weight: bold;
         background-color: #489fb5;
      }
   }
   .mobileButtonForRegister {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;

      .mobileRegisterIsolator {
         background-color: #ffa62b;
         color: white;
         border: none;
         padding: 3% 5%;
         width: 20rem;
         font-size: 3vh;
         font-weight: bold;
         margin-top: 10%;
      }
      .mobileRegisterBlower {
         background-color: #489fb5;
         color: white;
         border: none;
         padding: 2.5%;
         width: 20rem;
         font-size: 3vh;
         font-weight: bold;
         margin-top: 4%;
      }
   }
   .stuckHouse {
      white-space: pre-line;
      line-height: 1.2;
      margin-top: 7%;
   }
   #text2 {
      font-size: 131%;
      margin-top: 30%;
   }
}

@media only screen and (max-width: 1000px) {
   .HomePage {
      .mobileButtonForRegister {
         margin-top: 5% !important;
      }
      .img-container {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-top: 2%;
         width: fit-content;
         height: fit-content;
         margin-left: auto;
         margin-right: auto;
      }
   }
}
