.browserRegisterPage {
    background-image: url("/images/shoparForStart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    #go-back {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 2.5%;
        right: 4%;
    }

    .allInputInRegisterPage {
        display: flex;
        flex-direction: column;
    }
    .browserinputTextAndPhone {
        font-size: 180%;
        margin-top: 0%;
        color: #ffffff;
    }
    .browsername {
        outline: none;
        border: 1.2px solid #ffffff;
        margin: 1% 36% 0% 36%;
        background-color: #f2f2f2ba;
        padding: 1%;
        font-size: 1rem;
        font-weight: bold;
        // color: #16697A;
        &::placeholder {
            color: #16697a;
        }
    }
    .browserphone {
        outline: none;
        background-color: #f2f2f2ba;
        border: none;
        border: 1.2px solid #ffffff;
        margin: 1% 36% 0% 36%;
        padding: 1%;
        font-size: 1rem;
        font-weight: bold;
        &::placeholder {
            color: #16697a;
        }
    }
    .browserkey {
        outline: none;
        border: 1.2px solid #ffffff;
        margin: 5.3% 36% 0% 36%;
        background-color: #f2f2f2ba;
        padding: 1%;
        font-size: 1rem;
        font-weight: bold;
        // color: #16697A;
        &::placeholder {
            color: #16697a;
        }
    }

    #browserbuttonAgn {
        font-size: 130%;
        background: none;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: thin;
        width: fit-content;
        margin: auto;
        margin-top: 1%;
        color: #ffffff;
    }

    .browserbutton1 {
        border: none;
        padding: 1% 0%;
        margin: 1.2% 44% 0% 44%;
        color: #ffffff;
        background-color: #489fb5;
        font-size: 2.5vh;
        font-weight: bold;
    }
    .browseralartRegisterPage {
        font-size: 110%;
        font-weight: bold;
        color: #ffffff;
    }
}

.mobileRegisterPage {
    background-image: url("/images/imgShopar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5% 2.5%;
    overflow: auto;

    #go-back {
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: 2.5%;
        right: 4%;
    }
    .allDataRegisterPage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 90%;
    }

    .allInputInRegisterPage {
        display: flex;
        flex-direction: column;
    }
    .mobileinputTextAndPhoneisolator {
        white-space: pre-line;
        line-height: 1.2;
        font-size: 180%;
        margin: 9% 0% 2% 0%;
        color: #ffffff;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .mobileinputTextAndPhone {
        white-space: pre-line;
        line-height: 1.2;
        font-size: 180%;
        margin: 11% 0% 2% 0%;
        color: #ffffff;
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .mobilename {
        outline: none;
        border: 1.2px solid #ffffff;
        margin: 5% 10% 3% 10%;
        background-color: #f2f2f252;
        padding: 3%;
        font-size: 1rem;
        font-weight: bold;
        &::placeholder {
            color: #16697a;
        }
    }
    .mobilephone {
        outline: none;
        background-color: #f2f2f252;
        border: 1.2px solid #ffffff;
        margin: 3% 10% 0% 10%;
        padding: 3%;
        font-size: 1rem;
        font-weight: bold;
        &::placeholder {
            color: #16697a;
        }
    }
    .mobilekey {
        outline: none;
        border: 1.2px solid #ffffff;
        margin: 24% 10% 0% 10%;
        background-color: #f2f2f252;
        padding: 3%;
        font-size: 1rem;
        font-weight: bold;
        &::placeholder {
            color: #16697a;
        }
    }

    #mobilebuttonAgn {
        background: none;
        border: none;
        border-bottom-style: solid;
        border-bottom-width: thin;
        width: fit-content;
        margin: auto;
        margin-top: 5%;
        color: #ffffff;
    }
    .mobilebutton1 {
        border: none;
        padding: 2% 0%;
        margin: 5% 22% 0% 22%;
        color: #ffffff;
        background-color: #489fb5;
        font-size: 150%;
        font-weight: bold;
    }
    .mobilealartRegisterPage {
        font-size: 100%;
        font-weight: bold;
        color: #ffffff;
    }
}
