.sb-assign-meeting-container {
    position     :        absolute;
    right     :        0;
    top     :        0;
    bottom     :        0;
    height     :        100%;
    width     :        30%;
    background-color     :        white;
}
.sb-assign-meeting-mobile-container {
    position    :    absolute;
    height      :        100%;
    width       :        100%;
    top         :           0;
    bottom      :           0;
    right       :           0;
    left        :           0;
}
