@media print {
  @page {
    background-color: transparent !important;
    size: A4 auto !important;
    // size: 210mm 297mm !important;
    margin: 5mm 5mm 5mm 5mm !important; /* change the margins as you want them to be. */
  }
  * {
    -webkit-print-color-adjust: exact !important;
  }
  .sb-homepage-container {
    height: 100% !important;
    .sb-route-list {
      .sb-side-list-title {
        font-size: 1.9rem !important;
      }
      .under-title {
        font-size: 1.5rem !important;
      }
      .info-msg {
        font-size: 1.2rem !important;
      }
      .sb-list {
        .meeting-in-route-info-container {
          font-size: 1.3rem !important;
        }
      }
    }
    #sb-route-list-top,
    .sb-overmap-container,
    #print-btn {
      display: none !important;
    }
    #sb-side-list-container {
      padding: 0 !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      font-size: 2rem;
    }
    #sb-map-container {
      margin: auto 0 !important;
      position: absolute !important;
      top: 50% !important;
      transform: translate(0, -50%) !important;
    }
  }
}
.App {
  text-align: center;
}

* {
  box-sizing: border-box !important;
}

.pointer {
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alertMsg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  position: absolute;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  padding: 0 10px;
  height: 2.5rem;
  line-height: 2.5rem; //must be the same as the height
  animation: alert-msg-animation;
  animation-duration: 5s;
  opacity: 0;
  z-index: 1;
}
@keyframes alert-msg-animation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bold {
  font-weight: bold;
}
