@media print {
  @page {
    background-color: transparent !important;
    // size: landscape !important;
    margin: 5mm 5mm 5mm 5mm !important;
  }

  .gmnoprint {
    //class from google, not sure what does
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
  }
  .sb-route-list {
    .sb-side-list-title {
      font-size: 1.9rem !important;
    }
    .under-title {
      font-size: 1.5rem !important;
    }
  }
  #sb-route-list-top,
  .sb-overmap-container,
  #print-btn {
    display: none !important;
  }
  #sb-side-list-container {
    padding: 5% !important;
    width: 100% !important;
    display: flex !important;
    justify-content: flex-start !important;
    // align-items: center !important;
    font-size: 2rem !important;
    .meeting-in-route-info-container {
        box-shadow: 0px 3px 6px #00000029 !important;
        // border: 1px solid #00000029 !important;
      .meeting-in-route-img {
        width: 50px !important;
        height: 50px !important;
      }
      .meeting-in-route-comments {
        font-size: 1.5rem !important;
      }
    }
  }
  #sb-map-container {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    & * {
      display: none !important;
      width: 0 !important;
      height: 0 !important;
    }
  }
}

.App {
  text-align: center;
}

* {
  box-sizing: border-box !important;
}

.pointer {
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alertMsg {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  position: absolute;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  padding: 0 10px;
  height: 2.5rem;
  line-height: 2.5rem; //must be the same as the height
  animation: alert-msg-animation;
  animation-duration: 5s;
  opacity: 0;
  z-index: 1;
}
@keyframes alert-msg-animation {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bold {
  font-weight: bold;
}
