.BlastsPage {
    display: flex;
    height: 90vh;
    background: #f3f3f3 0% 0% no-repeat padding-box;
}

.width75 {
    width: 75vw;
    padding-right: 4vw;
    padding-left: 4vw;
}

.textHead {
    color: #489fb5;
    font-size: 3.4vh;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.overallNum {
    color: #156879;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.infoPub {
    text-align: left !important;
}
.delete {
    text-align: left !important;
}