.MuiDialog-paperWidthSm {
    max-width: 95vw !important;
}
.MuiDialog-paperWidthSm {
    background-color: #eeeeee !important;
}
.participantList {
    text-align: right;
    color: #489fb5;
    font-size: 3.5vh;
    margin-top: 1.7vh;
}

.timesPopUp {
    font-size: 4vh;
    margin: 2vh 2vw;
}
.results {
    color: #156879;
    font-size: 2vh;
    text-align: right;
}

.delete {
    text-align: left !important;
}
