@import "../admin_consts.scss";

.bluePlusContainer {
    min-width: max-content;
    color: white;
    background-color: #156879;
    border-radius: 100px;
    padding: 0.5vh 2vw;
    font-size: 2.3vh;
    margin-right: 1vw;
    box-shadow: #00000029 0 3px 6px;
    display: flex;
    align-items: center;
}
.bluePlusContainer div {
    margin-right: 0.5vw;
}

.single-shofar-blower-page {
    #top {
        height: 10vh;
        background-color: $dark-turquise;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        #title {
            color: white;
            font-size: 3vh;
            font-family: $Heebo;
        }
        #x-btn {
            color: white;
            height: 100%;
            margin: 0 3vh;
            height: 2rem; //like #title font-size
            width: auto;
        }
    }
}
#map-and-info {
    display: flex;
    flex-direction: row;
    align-content: center;
    #side-info-container {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        width: 40vw;
        height: 90vh;
        background-color: $grey;
        padding: 30px 5%;
        #about-sb {
            color: $dark-turquise;
            display: flex;
            flex-direction: row;
            align-self: center;
            justify-content: space-between;
            width: 100%;
            font-size: 1.5rem;
            margin-bottom: 2rem;
            #more-info-container {
                height: fit-content;
                position: relative;
                display: flex;
                justify-content: flex-end;
                // margin-left: 1.5vw;

                #more-info-tooltip {
                    display: none;
                    cursor: pointer;
                }

                &:hover {
                    #more-info-tooltip {
                        position: absolute;
                        color: #747474;
                        box-shadow: 0px 3px 6px #00000029;
                        background-color: white;
                        border-radius: 3px;
                        margin-top: 5vh;
                        padding: 1vh 1vw;
                        z-index: 2;
                        display: flex;
                        font-size: 1rem;
                        white-space: pre;
                    }
                }
            }
            #name-and-phone {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
        #total-length {
            color: $light-blue;
            margin-bottom: 2rem;
            text-align: right;
            font-size: 1.2rem;
        }
    }
    #assign-btn{
        background-color: $orange;
        border-radius: 36px;
        color: white;
        font-size: 1.5rem;
        padding: .5rem 1.5rem;
        box-shadow: 0px 3px 6px #00000029;
        cursor: pointer;
        position: absolute;
        left: 0;
        bottom: 0;
        margin-bottom: 2rem;
        margin-left: 2rem;
    }
}
.sb-map-container-admin {
    width: 60vw;
    height: 90vh;
    position: relative;
    & > div {
        height: 100% !important;
    }
}

.icon-on-map-locationInfo {
    width: 1.2em;
    height: 1.2em;
    margin-left: 4%;
    align-self: flex-start;
    margin-top: 1%;
}
.info-window-title {
    font-size: 1rem !important;
}

//for draggable style
.sb-list {
    // all lists - my route -and- all meetings
    overflow-wrap: break-word;
    // overflow-y: scroll;
    // height: unset;
    ul {
        padding: 0;
    }
}
.meeting-in-route {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    z-index: 100;

    .meeting-in-route-img-container {
        width: 35px;
        height: 35px;
        .meeting-in-route-img {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $light-blue2;
            color: white;
            border: 2px solid $blue-border;
        }
    }
    .meeting-in-route-info-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        width: 85%;
        background-color: white;
        padding: 5px 15px;
        box-shadow: 0px 3px 6px #00000029;
        .meeting-in-route-info-1 {
            display: flex;
            flex-direction: column;
            align-self: baseline;
            justify-content: center;
            .meeting-in-route-title {
                width: fit-content;
                font-weight: bolder;
            }
            .meeting-in-route-location {
                width: fit-content;
                text-align: right;
            }
            .meeting-in-route-comments {
                width: fit-content;
                font-size: 0.9rem;
            }
        }
        .meeting-in-route-info-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            img {
                width: 2rem;
            }
        }
    }
}

.single-isolator-page {
    #top {
        height: 10vh;
        background-color: $orange;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        #right-side {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            #title {
                color: white;
                font-size: 3vh;
                font-family: $Heebo;
            }
            #x-btn {
                color: white;
                height: 100%;
                margin: 0 2rem;
                height: 3vh; //like #title font-size
                width: auto;
            }
        }
        #meeting-type {
            color: white;
            font-size: 2rem;
            font-family: $Heebo;
            margin: 0 2rem;
        }
    }
}
