@import "../admin_consts.scss";

.bluePlusContainer {
    min-width: max-content;
    color: white;
    background-color: #156879;
    border-radius: 100px;
    padding: 0.5vh 2vw;
    font-size: 2.3vh;
    margin-right: 1vw;
    box-shadow: #00000029 0 3px 6px;
    display: flex;
    align-items: center;
}
.bluePlusContainer div {
    margin-right: 0.5vw;
}

.single-shofar-blower-page {
    #top {
        height: 10vh;
        background-color: $dark-turquise;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        #title {
            color: white;
            font-size: 2rem;
        }
        #x-btn {
            color: white;
            height: 100%;
        }
    }
    #map-and-info {
        display: flex;
        flex-direction: row;
        align-content: center;
        #info {
            display: flex;
            flex-direction: column;
            width: 40vw;
            height: 90vh;
            background-color: $grey;
        }
    }
    .sb-map-container-admin {
        width: 60vw;
        height: 90vh;
        position: relative;
        & > div {
            height: 100% !important;
        }
    }
}
