.textStyle,
input::placeholder {
    color: #a3a6b4;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

// tr {
//     display:block;
// }

thead th {
    background-color: #b6b6bc54;
    padding: 1vh 0;
    font-size: 1.75vh;
    text-align: right;
    // width: 100px;
}

.allTableStyle {
    width: 100%;
    color: #a3a6b4;
    border-radius: 5px 5px 0 0;
    border-collapse: separate;
    border-spacing: 0 1vh;
}

// table  tbody {
//     display:block;
//     height:200px;
//     overflow:auto;
// }

.tableBodyStyle td {
    padding: 2vh 0;
    font-size: 1.75vh;
    text-align: -webkit-center;
    // min-width: 3vw;
    max-width: 12vw;
    background-color: white;
    text-align: right;
    // width: 100px;
}

.tableBodyStyle td:last-child {
    padding-left: 5vw;
}

.tableBodyStyle td:first-child,
.tableHead th:first-child {
    padding-right: 5vw;
}

// .allTableStyle tr:not(:last-child){
//     border-bottom: 1px solid var(--custom-table-gray);
// }

.noRes {
    padding: 3vh;
    text-align: center;
    background-color: white;
}

.spinner-border {
    border: 0.45vh solid var(--custom-search-gray-word);
    border-right-color: transparent;
}

.tableNavigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #747474;
    font-size: 2.3vh;
}

.navArrow {
    margin: 0 2vh;
    font-size: 2vh;
    cursor: pointer;
}

.navArrowDisabled {
    color: #747474;
    cursor: unset;
}

.disabledNavArrow {
    color: #74747436;
    cursor: unset;
}

.tableIcons {
    width: 4vw;
}

.circleCheckBox {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    border: 0.5px #707070 solid;
    margin-left: 1vw;
}

.checkedCircle {
    color: #fda42a;
    font-size: 2vh;
    margin-left: 2vw;
}

.confrim {
    width: 2vw;
    padding-right: 4vw !important;
}

table .location {
    font-size: 2vh;
}
